openapi: 3.0.0
info:
  description: T-Learn API документация.
  version: 1.0.0
  title: T-Learn
tags:
  - name: cards
    description: Всё связанное с карточками.
    
servers: 
  - url: https://tlearn-app.naloaty.me/api/v1
    description: Тестовый сервер
    
paths:
  /cards/study:
    get:
      tags: 
        - cards
      summary: Возвращает карточки со словами для обучения.
      parameters: 
        - in: query
          name: count
          required: true
          description: Количество карточек, которое необходимо вернуть.
          schema:
            type: integer
      security:
        - TLearnAuth: [] 
      responses:
        '200':
          description: Список с заданным количеством карточек.
          content:
            application/json:
              schema: 
                type: array
                items:
                  type: object
                  properties:
                    id: 
                      type: integer
                      example: 1
                    word:
                      type: string
                      example: "Sofa"
                    transcription: 
                      type: string
                      example: "/ˈsəʊfə/"
                    type:
                      type: integer
                      example: 0
                    translation:
                      type: array
                      items:
                        type: string
                        example: "Диван"
                    state:
                      type: integer
                      example: 0
        '401':
          $ref: '#/components/responses/UnauthorizedError'
          
    post:
      tags:
        - cards
      summary: Принимает ответ от пользователя.
      security:
        - TLearnAuth: [] 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                  type: object
                  properties:
                    card_id:
                      type: integer
                      example: 1
                    action:
                      type: integer
                      example: 0
                  required: 
                    - card_id
                    - action
      responses:
        '200':
          description: Ответ от пользователя успешно принят.
          
        '401':
          $ref: '#/components/responses/UnauthorizedError'
          
components:
  securitySchemes:
    TLearnAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Отсутствует AccessToken или он не действителен.
          

